
.container {
    display: flex;
    flex-direction: row;
    /* Organiza las columnas horizontalmente */
    margin: 50px 0px 50px 50px;
    /* Margen superior de 50px, margen derecho de 0px, margen inferior de 50px, margen izquierdo de 50px */
    height: calc(100vh - 50px);
    /* Ajusta la altura del contenedor para que se ajuste a la altura del navegador menos el margen superior */
    border-radius: 10px;
    font-weight: 300;
}

/*columna izquierda*/
.column {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: auto;
    /* Cambia a auto para permitir el desplazamiento */
    overflow: auto;
    /* Permite el desplazamiento cuando el contenido excede el tamaño de la ventana */
}


header {
    position: absolute;
    /* Asegura que el botón esté en una posición fija */
    top: 10px;
    right: 10px;
    z-index: 1000;
    /* Asegura que el botón esté por encima de otros elementos */
    font-family: "Roboto", sans-serif;
}

h2,
h3 {
    font-family: "Moderustic", sans-serif;
    font-size: 20px;
}


.one {
    background-color: #a09cb9;
    width: 20%;
    flex: 0 0 20%;
    border-radius: 15px;
}

.one img {
    border-radius: 20%;
    width: 100%;
    /* Ajusta la imagen para que ocupe el 100% del ancho de su contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
    object-fit: cover;
    margin: 0;
}

.one h2 {
    margin-bottom: 10px;
}

.social-media .icon {
    list-style: none;
    padding: 0;
    /* Elimina el padding de la lista */
    margin: 0;
    /* Elimina el margen de la lista */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-icon {
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.cv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* Puedes ajustar esto según el tamaño del contenedor */
}

.cv a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.cv i {
    margin-right: 8px;
    /* Espacio entre el ícono y el texto, ajusta según tus preferencias */
}


.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    margin-bottom: 20px;
    display: flex;
    /* Usar flexbox para alinear el ícono y el texto */
    align-items: center;
    /* Alinear verticalmente el ícono y el texto */
    gap: 3px;
    /* Espacio entre el ícono y el texto */
    background-color: #9cb9ae;
    /* Fondo para cada ítem de la lista */
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
    /* Espacio interno para los ítems */
}

.table {
    width: 100%;
    /* La tabla ocupa el 100% del ancho del contenedor */
    border-collapse: collapse;
    background-color: #9cb9ae;
    /* Color de fondo de la tabla */
    border-radius: 8px;
    /* Bordes redondeados en toda la tabla */
}

table {
    width: 50%;
    /* La tabla ocupa el 100% del ancho de su contenedor */
    border-collapse: collapse;
    font-size: 10px;
}

th,
td {
    padding: 1px;
    /* Espaciado en celdas, ajustado para una tabla más pequeña */
    text-align: left;
    /* Alineación del texto */
    color: black;
    /* Color del texto en las celdas */
    font-size: 11px;
}

td:first-child {
    width: 10px;
    /* Ancho más pequeño para la columna de los emojis */
}

td:nth-child(2) {
    width: calc(90% - 40px);
    /* Ancho restante para la columna de datos */
    /* Puedes ajustar el valor 40px según lo necesites para que la columna de datos se ajuste adecuadamente */
}

.cv {
    margin-top: 20px;
    background-color: #9cb9ae;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: black;
    height: 35px;

}

/*Columna centro*/
.two {
    background-color: #9cb9ae;
    width: 70%;
    flex: 0 0 70%;
    border-radius: 15px;
}

.about {
    margin-bottom: 20px;
}

.about h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid;
    display: inline-block;
}

.what-i-do {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.what-i-do .service {
    width: 48%;
    margin-bottom: 20px;
    background-color: #b99ca7;
    
}

.service p {
    text-align: justify;
    /* Justifica el texto en los contenedores de servicio */
    text-justify: inter-word;
    padding: 0px 15px 0px 15px
}

.service h3 {
    margin-bottom: 5px;
}

/* Estilos generales para la columna tres */
.three {
    position: fixed;
    /* Mantiene la columna fija en la pantalla */
    bottom: 0;
    /* Alinea la columna en la parte inferior */
    right: 10px;
    /* Alinea la columna en la parte derecha */
    width: 50px;
    /* Ajusta el ancho de la columna */
    height: auto;
    /* Ajusta la altura al contenido */
    background-color: #f0f0f0;
    /* Color de fondo de la columna */
    overflow-y: auto;
    /* Permite el desplazamiento vertical */
    overflow-x: hidden;
    /* Oculta el desplazamiento horizontal */
    z-index: 1000;
    /* Asegura que la columna esté por encima de otros elementos */
    padding: 10px;
}

.theme {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#theme-toggle {
    background-color: lightblue;
    margin-bottom: 20px;
    display: flex;
    /* Usar flexbox para alinear el ícono y el texto */
    align-items: center;
    /* Alinear verticalmente el ícono y el texto */
    gap: 10px;
    /* Espacio entre el ícono y el texto */
    border-radius: 5px;
    border-color: lightblue;
    cursor: pointer;
    width: 36px;
    height: 20px;
    padding-left: 0px;
}

.toggle-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: smaller;
}

.toggle-switch {
    position: relative;
    width: 30px;
    /* Reducido a 30px */
    height: 20px;
    /* Reducido a 20px */
    background-color: #ccc;
    border-radius: 10px;
    /* Ajustado para que el botón sea circular */
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider {
    position: absolute;
    width: 16px;
    /* Reducido a 16px */
    height: 16px;
    /* Reducido a 16px */
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
    transform: translateX(2px);
    /* Ajustado para que el círculo se alinee correctamente */
}

.toggle-switch.on {
    background-color: #4CAF50;
    /* Verde */
}

.toggle-switch.off {
    background-color: #ccc;
    /* Gris */
}

.toggle-switch.on .slider {
    transform: translateX(12px);
    /* Mueve el slider a la derecha */
}

.toggle-switch.off .slider {
    transform: translateX(2px);
    /* Mueve el slider a la izquierda */
}

/* Estilos para los elementos dentro de la columna tres */
.dynamic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dynamic ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dynamic li {
    background-color: #b5b99c;
    /* Color de fondo de los ítems */
    height: 50px;
    width: 50px;
    /* Ancho de los ítems */
    margin-bottom: 10px;
    /* Espacio entre ítems */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    /* Elimina el redondeo en los ítems */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre los ítems */
    color: black;
}

.youtube {
    background-color: #a09cb9;
    margin-bottom: 10px;
    margin-top: 100px;
    display: flex;
    /* Usar flexbox para alinear el ícono y el texto */
    align-items: center;
    /* Alinear verticalmente el ícono y el texto */
    justify-content: center;
    gap: 8px;
    /* Espacio entre el ícono y el texto */
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: black;
}

.youtube a {
    text-decoration: none;
}

.youtube a {
    text-decoration: none;
    color: inherit; 
}

.youtube i {
    color: black; 
}

.youtube a:active i, .youtube a:focus i {
    color: #b99ca7; /* Cambia el color del ícono al hacer clic o recibir foco */
}

.text-sample {
    background-color: #a09cb9;
    margin-bottom: 10px;
    display: flex;
    /* Usar flexbox para alinear el ícono y el texto */
    align-items: center;
    /* Alinear verticalmente el ícono y el texto */
    justify-content: center;
    gap: 8px;
    /* Espacio entre el ícono y el texto */
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: black;
}

.text-sample a {
    text-decoration: none;
}

.text-sample a {
    text-decoration: none;
    color: inherit;
}

.text-sample i {
    color: black; 
}

.text-sample a:active i, .text-sample a:focus i {
    color: #b99ca7;
}

.web-sample {
    background-color: #a09cb9;
    margin-bottom: 10px;
    display: flex;
    /* Usar flexbox para alinear el ícono y el texto */
    align-items: center;
    /* Alinear verticalmente el ícono y el texto */
    justify-content: center;
    gap: 8px;
    /* Espacio entre el ícono y el texto */
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: black;
}

.web-sample a {
    text-decoration: none;
}

.web-sample a {
    text-decoration: none;
    color: inherit; /* Hereda el color del contenedor */
}

.web-sample i {
    color: black; /* Color del ícono por defecto */
}

.web-sample a:active i, .web-sample a:focus i {
    color: #b99ca7; /* Cambia el color del ícono al hacer clic o recibir foco */
}

.contact {
    background-color: #a09cb9;
    display: flex;
    /* Usar flexbox para alinear el ícono y el texto */
    align-items: center;
    /* Alinear verticalmente el ícono y el texto */
    justify-content: center;
    gap: 8px;
    /* Espacio entre el ícono y el texto */
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: black;
}

.contact a {
    text-decoration: none;
}
.contact a {
    text-decoration: none;
    color: inherit; /* Hereda el color del contenedor */
}

.contact i {
    color: black; 
}

.contact a:active i, .contact a:focus i {
    color: #b99ca7; /* Cambia el color del ícono al hacer clic o recibir foco */
}

/* Ajustes para pantallas grandes */
@media (min-width: 769px) {
    .what-i-do {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .what-i-do .service {
        width: 48%;
        margin-bottom: 20px;
        background-color: #b99ca7;
    }

    .three {
        right: 10px;
        /* Reduce aún más el margen desde el borde derecho */
        width: 60px;
        /* Mantiene el ancho fijo */
    }
}

/* Ajuste de columnas para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* Cambia la dirección del contenedor a columna en pantallas pequeñas */
        height: auto;
        /* Ajusta la altura a la altura del contenido */
        margin: 50px;
        /* Aplica un margen de 50px en todos los lados en pantallas pequeñas */
    }

    .one {
        width: 100%;
        /* Hace que la columna uno ocupe todo el ancho en pantallas pequeñas */
        order: 1;
        /* Hace que la columna uno esté en la parte superior */
    }

    .two {
        width: 100%;
        /* Hace que la columna dos ocupe todo el ancho en pantallas pequeñas */
        order: 2;
        /* Hace que la columna dos esté en el centro */
    }

    .what-i-do {
        display: block; /* Cambia el contenedor a bloque para que los servicios se apilen verticalmente */
    }

    .what-i-do .service {
        width: 100%; /* Hace que cada servicio ocupe el 100% del ancho disponible */
        margin-bottom: 20px; /* Espacio entre los servicios */
    }

    .three {
        right: 10px;
        /* Mantiene el margen derecho en pantallas pequeñas */
        bottom: 10px;
        /* Ajusta el margen inferior en pantallas pequeñas */
        width: 50px;
        /* Reduce el ancho en pantallas pequeñas */
        height: auto;
        /* Ajusta la altura al contenido */
        border-radius: 0;
        /* Elimina el redondeo en pantallas pequeñas */
    }

    .dynamic li {
        width: 40px;
        /* Ajusta el ancho de los ítems */
        height: 40px;
        /* Ajusta la altura de los ítems */
        font-size: 18px;
        /* Ajusta el tamaño del icono para pantallas pequeñas */
    }
}

/*Paleta de colores
#b5b99c (verde primario)
#9cb9ae (verde secundario)
#a09cb9 (morado)
#b99ca7 (rosa) */
